#[GENERAL]
*~
*.swp
..
.
*.bak
*._*
*_.*
*.log*
*.pid*
nohup.out
.DS_Store

#[RUBY]
*.lock
*.gem
*.rbc
.sass-cache
.bundle
.config
coverage
gem_graph.*
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
system.gems
test/tmp
test/version_tmp
tmp
log

#[Rubinius]
*.rbc
.rbx/
