[submodule "views/bootstrap"]
	path = views/bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "public/bootstrap"]
	path = public/bootstrap
	url = https://github.com/twitter/bootstrap.git
